.progress-bar {
    -webkit-transition: width 10s linear;
       -moz-transition: width 10s linear;
        -ms-transition: width 10s linear;
         -o-transition: width 10s linear;
            transition: width 10s linear;
}

.progress-bar.active {
    width: 98%;
}

footer {
    margin-top: 500px;
}